asyncio
discord.py[voice]
environs
ffsend
GitPython
isodate
mutagen
psutil
pypiwin32
pymongo>=3.10.1,<4.0.0
PyNaCl
requests
simplejson
tweepy
youtube_dl
yfinance
lxml
fuzzywuzzy
python-Levenshtein
