discord.py[voice]~=1.6
GitPython
isodate~=0.6.0
mutagen~=1.44
pymongo~=3.11
PyNaCl
requests~=2.22
tweepy~=3.8.0
youtube_dl
yfinance~=0.1.54
lxml
fuzzywuzzy~=0.18.0
python-Levenshtein
pandas~=1.0.1
beautifulsoup4~=4.10
yahoo_fin
requests_html
numpy
pytz
feedparser
youtube-search-python
